{% extends 'men/base.html' %}
{% block content %}
<br>
<p><a href="{% url 'categories_mens' %}">categories_mens</a></p>
<p><a href="{% url 'add_page' %}">add_page</a></p>
<p><a href="{% url 'about' %}">about</a></p>
<p><a href="{% url 'message' %}">message</a></p>
<h3>Количество челов по категориям:</h3>
{% for i in count_mens_from_category %}
<p>{{i.name}}: {{i.count_mens}}</p>
{% endfor %}
<br>


{% for i in object_list %}
<p><a href="{% url 'get_whole_message_men' i.pk %}">{{ i }}</a></p>
{% endfor %}

<ul>
    {% for p in paginator.page_range %}
    <li>
        <a href="?page={{ p }}">{{ p }}</a>

    </li>
    {% endfor %}

</ul>

{% endblock %}